@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base-8: 16.8px;
  --font-size-13xl: 32px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-whitesmoke-100: #eaecf0;
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #959595;
  --color-slategray: #667085;
  --color-silver: #b5b5b5;
  --color-dimgray-100: #5a5a5a;
  --color: #4f4f4f;
  --text-color: #465668;
  --color-darkslategray: #184f68;
  --color-crimson-100: #ff3c58;
  --color-crimson: #bf1b39;

  /* Gaps */
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-7xl: 26px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-23xl: 42px;
  --padding-31xl: 50px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-45xl: 64px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-9xs: 4px;
}
